


<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/myjquery.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/semantic.min.js"></script>
<script src="https://use.fontawesome.com/c9bda6e802.js"></script>
</body>
</html>