<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>website testing #1</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/semantic.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/hover.css">
  <script src="https://use.fontawesome.com/c9bda6e802.js"></script>

  

</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top navbar-static-top" id="myNavBar">
  <div class="container-fluid">

    <% if(!currentUser) { %>
        <ul class="nav navbar-right">
          <li class="navItemButton">
            <button data-toggle="modal" data-target="#loginModal" class="ui green small button" id="loginButton">Login</button>
          </li>
          <li class="navItemButton">
            <a data-toggle="modal" data-target="#registerModal" class="ui black small button" id="joinButton">Join</a>
          </li>    
        </ul>
      <% } else { %>
      <ul class="nav navbar-right">
      <li>
          <div class="media" id="myUsername">
            <div class="media-left">
              <a href="/profile/<%= currentUser._id %>">
                <img class="media-object" src="<%= currentUser.image %>">
              </a>
            </div>
            <div class="media-body">

              <a id="navUsername" type="button" data-toggle="popover" tabindex="0" role="button" data-trigger="focus" data-original-title="<%= currentUser.username %>" data-html="true" data-placement="bottom" data-content="<a href='/profile/<%= currentUser._id %>'>Profile</a> <br> <a href='/logout'>Logout</a>"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
            </div>
          </div>
        </li>
    </ul>
      <% } %>

        
    <div class="collapse navbar-collapse">
    <ul class="nav navbar-left" id="navLeft">
          <a id="iconSearch" type="button" data-toggle="popover" tabindex="0" role="button" data-trigger="click" data-html="true" data-placement="bottom" 

          data-content="
          <form action='/searchuser' method='POST'>
            <div class='ui left icon input'>
              <input class='inputForm input-sm' type='text' name='nameuser' class='form-control' placeholder='Search users...'>
              <i class='users icon'></i>
            </div>
          </form>

          <form action='/searchphoto' method='POST'>
            <div class='ui left icon input'>
              <input class='inputForm input-sm' type='text' name='namephoto' class='form-control' placeholder='Search photos...'>
              <i class='photo icon'></i>
            </div>
          </form>
          "><i class="fa fa-search"  aria-hidden="true"></i></a>
          
      </ul> 
         <ul class="nav navbar-nav">
         <li> 
           <a href="/index" class="hvr-underline-from-left">Home</a>
         </li>
         <li>
           <a href="/old" class="hvr-underline-from-left">Old</a>
         </li>
         <li>
           <a href="/fresh" class="hvr-underline-from-left">Fresh </a>
         </li>
         <li>
           <a href="/hot" class="hvr-underline-from-left">Hot</a>
         </li>
          <li>
           <a href="/cold" class="hvr-underline-from-left">Cold</a>
         </li>
          </ul>
    </div>


</nav>



<!-- REGISTRATION FORM Modal//Bootstrap 3 -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Registration form</h4>
      </div>
      <div class="modal-body">
        <form action="/register" method="POST">
    <div class="form-group">
      <label class="control-label">Username</label>
        <div>
          <input type="text" name="username" class="form-control" id="newNameForm" autocomplete="off" required>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Firstname</label>
            <div>
              <input type="text" name="firstname" class="form-control" id="newNameForm" autocomplete="off" required>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Lastname</label>
            <div>
              <input type="text" name="lastname" class="form-control" id="newNameForm" autocomplete="off" required>
            </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Short Description</label>
      <div>
        <input type="text" name="description" class="form-control" id="newImageForm" placeholder="Optional..." autocomplete="off">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Password</label>
          <div>
            <input type="password" name="password1" class="form-control" id="pass1" autocomplete="off" required>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
        <label class="control-label">Confirm Password</label>
        <div>
          <input type="password" name="password2" class="form-control" id="pass2" autocomplete="off" onkeyup="checkPass(); return false" required>
          <span id="confirmMessage" class="confirmMessage"></span>
        </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Image URL:</label>
      <div>
        <input type="text" name="image" class="form-control" id="newImageForm" autocomplete="off" required>
      </div>
    </div>
      </div>
      <div class="modal-footer">
        <button class="ui inverted green button" id="buttonSubmit">Register</button>
      </form>
        <button class="ui inverted red button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<!--LOGIN FORM Modal//Bootstrap 3 -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
      <!--Modal text body starts here-->
        
        <form action="/login" method="POST" id="loginform">
          <label>Username</label>
          <input type="text" name="username" class="form-control" placeholder="Username" required>
          <label>Password</label>
          <input type="password" name="password" class="form-control" id="pass1" placeholder="Password" required>
      <!--Modal text body ends here-->
      </div>
      <div class="modal-footer">
          <button class="ui inverted green button">Login</button>
        </form>
      <button type="button" class="ui inverted red button" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>






  

