<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>website testing #1</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.css">
  <script src="https://use.fontawesome.com/c9bda6e802.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Carrois+Gothic+SC" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/hover.css">

</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top navbar-static-top" id="myNavBar">
  <div class="container-fluid">
    <% if(currentUser){ %>
      <ul class="nav navbar-nav">
      <li>
          <div class="media">
            <div class="media-left">
              <a href="/profile/<%= currentUser._id %>">
                <img class="media-object" src="<%= currentUser.image %>">
              </a>
            </div>
            <div class="media-body">
              <a href="/profile/<%= currentUser._id %>" id="navUsername">
                <%= currentUser.username %>
              </a>
            </div>
          </div>
        </li>
    </ul>
    <ul class="nav navbar-right">
        <li>
        <form class="form-inline" id="searchform" action="/searchresult" method="POST">
          <input type="text" class="form-control" placeholder="Search people" name="thename" id="searchinput">
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </li>
      </ul>
    <% } %>
    
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class='row' id="navRow">
      
    

    <!-- Collect the nav links, forms, and other content for toggling -->

      <ul class="nav navbar-nav">
        <li class="navItem"><a href="/" class="hvr-back-pulse navTxt">Home</a></li>
        <li class="navItem"><a href="/about" class="hvr-back-pulse navTxt">About</a></li>
        <li class="navItem2"><a href="/index" style="font-family: 'Architects Daughter', cursive;" class="navTxt"> MySelfie</a></li>
  
      <% if(!currentUser) { %>
      
          <li class="navItemButton">
            <button data-toggle="modal" data-target="#loginModal" class="ui green huge button">Login</button>
          </li>
          <li class="navItemButton">
            <a data-toggle="modal" data-target="#registerModal" class="ui black huge button">Register</a>
          </li>    

      <% } else { %>
      
        
        <li class="navItem">
          <a href="/chat" class="hvr-back-pulse  navTxt">Chat</a>
        </li>
        <li class="navItem">
          <a href="/logout" class="hvr-back-pulse navItem navTxt">Logout</a>
        </li>
        
        </div>
        


      <% } %>
      
</ul>
  </div><!-- /.container-fluid -->
</nav>




<!-- REGISTRATION FORM Modal//Bootstrap 3 -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Registration form</h4>
      </div>
      <div class="modal-body">
        <form action="/register" method="POST">
    <div class="form-group">
      <label class="control-label">Username</label>
        <div>
          <input type="text" name="username" class="form-control" id="newNameForm" autocomplete="off" required>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Firstname</label>
            <div>
              <input type="text" name="firstname" class="form-control" id="newNameForm" autocomplete="off" required>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Lastname</label>
            <div>
              <input type="text" name="lastname" class="form-control" id="newNameForm" autocomplete="off" required>
            </div>
        </div>
      </div>
    </div>
    <!-- <div class="form-group">
      <label class="control-label">Image URL:</label>
      <div>
        <input type="text" name="image" class="form-control" id="newImageForm" autocomplete="off" required>
      </div>
    </div>
    <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br> -->
    <div class="form-group">
      <label class="control-label">Short Description</label>
      <div>
        <input type="text" name="description" class="form-control" id="newImageForm" placeholder="Optional..." autocomplete="off">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Password</label>
          <div>
            <input type="password" name="password1" class="form-control" id="pass1" autocomplete="off" required>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
        <label class="control-label">Confirm Password</label>
        <div>
          <input type="password" name="password2" class="form-control" id="pass2" autocomplete="off" onkeyup="checkPass(); return false" required>
          <span id="confirmMessage" class="confirmMessage"></span>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <input class="ui blue button" id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
      </div>
      <div class="col-md-6">
        <button class="ui blue button" id="imageURLbtn" type="button">Use Image URL</button>
      </div>
      <div class="col-md-6">
        <input type="text" name="image">
      </div>
    </div>
      </div>
      <div class="modal-footer">
        <button class="ui inverted green button" id="buttonSubmit">Register</button>
      </form>
        <button class="ui inverted red button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<!--LOGIN FORM Modal//Bootstrap 3 -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
      <!--Modal text body starts here-->
        
        <form action="/login" method="POST" id="loginform">
          <label>Username</label>
          <input type="text" name="username" class="form-control" placeholder="Username" required>
          <label>Password</label>
          <input type="password" name="password" class="form-control" id="pass1" placeholder="Password" required>
      <!--Modal text body ends here-->
      </div>
      <div class="modal-footer">
          <button class="ui inverted green button">Login</button>
        </form>
      <button type="button" class="ui inverted red button" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>






  

