<% include partials/header %>
<div class="container">
	<h1>Website is still under construction!</h1>
	<h2>-John Frades</h2>
</div>



<div class="ui small modal smallModal">
  <i class="close icon"></i>
  <div class="header">
    Delete comment
  </div>
  <div class="image content">
    <div class="description">
      <div class="ui header">Are you sure you want to delete your comment?</div>
      <p>You cannot undo this action once you've deleted your comment.</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui red button">
      Delete
    </div>
    <div class="ui black deny button">
      Close
    </div>
  </div>
</div>







<% include partials/footer %>