<% include partials/header %>



<div id="nickWrap">
	<p>Enter a username:</p>
	<form id="setNick">
		<input size="35" id="nickname">
		<input type="submit">
	</form>
</div>



<div id="contentWrap">
<div id="chatWrap">
<div id="chat"></div>
<form id="send-message">
	<input size="35" id="message" required>
	<input type="submit">
</form>
</div>
<div id="users"></div>
</div>







<!-- jQuery CDN and socket.io-->
<script   src="https://code.jquery.com/jquery-3.1.0.slim.js"   integrity="sha256-L6ppAjL6jgtRmfiuigeEE5AwNI2pH/X9IBbPyanJeZw="   crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/chatscript.js"></script>
<!-- -->
<% include partials/footer %>