<% include partials/header %>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="container">
	<div id="contentWrap">
<div id="chatWrap"> 
<div id="chat"></div>
</div>

	<form id="send-message">
	<div class="input-group">
		<input id="message" class="form-control" required>
		<span class="input-group-btn"><input type="submit" class="btn btn-success" value="Submit"></span>
	</div>
	</form>
	<span id="users"></span>
</div>





</div>
</div>







<!-- jQuery CDN and socket.io-->
<script   src="https://code.jquery.com/jquery-3.1.0.slim.js"   integrity="sha256-L6ppAjL6jgtRmfiuigeEE5AwNI2pH/X9IBbPyanJeZw="   crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/chatscript.js"></script>
<!-- -->
<% include partials/footer %>