<% include partials/header %>

<div class="container" id="newForm">

<h1>Edit profile for "<%= editUser.name %>"</h1>

 <form action="/index/<%= editUser._id %>?_method=PUT" method="POST">
		<div class="form-group">
			<label class="control-label">Name:</label>
				<div>
					<input type="text" name="user[name]" class="form-control" id="newNameForm" value="<%= editUser.name %>" required>
				</div>
		</div>
		<div class="form-group">
			<label class="control-label">Image URL:</label>
			<div>
				<input type="text" name="user[image]" class="form-control" id="newImageForm" value="<%= editUser.image %>" required>
			</div>
		</div>
	<div class="form-group">
		<button class="fluid ui inverted green button">Submit</button>
	</div>
 </form>
<a href="/index" class="fluid ui inverted red button"> Go Back</a>
</div>


<% include partials/footer %>