<!DOCTYPE html>
<html>
<head>
	<title>Welcome to the website</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.css">
</head>
<body>
<div>
	<!--<img src="/stylesheets/indexbg.jpg" class="bg">-->
	<a href="/index" class="ui green inverted massive button" >Enter the site</a>

</div>
</body>
</html>