<% include partials/header %>


<div class="container">
<div class="jumbotron">
	<h1>Welcome to the users site</h1>
	<a href="/index" class="ui inverted green button massive">See the users</a>



</div>
	
	<a href="/about">Go to about page</a>
	

</div>



<% include partials/footer %>