<% include partials/header %>
<div class="container">
	<h1>Welcome to <%= title %></h1>
	<a href="/about">Go to about page</a>
	<a href="/index">Go to index page</a>

</div>



<% include partials/footer %>