<% include partials/header %>


<div class="container" id="regForm">
<div class="container" id="newForm2">
<h1>Login</h1>

 <form action="/login" method="POST">
		<div class="form-group">
			<label class="control-label">Username</label>
				<div>
					<input type="text" name="username" class="form-control" id="newNameForm" required>
				</div>
		</div>
		<div class="form-group">
			<label class="control-label">Password</label>
			<div>
				<input type="password" name="password" class="form-control" id="pass1" required>
			</div>
		</div>
	<div class="form-group">
		<button class="fluid ui inverted green button" id="buttonSubmit">Submit</button>
	</div>
 </form>
<a href="/index" class="fluid ui inverted red button"> Go Back</a>
</div>

</div>


<% include partials/footer %>