<% include partials/header %>



<div class="container">
<h1>Welcome to <em> <%= userProfile.username %> </em> profile page!</h1>

<h2>First Name: <%= userProfile.firstname%> </h2>
<h2>Last Name: <%= userProfile.lastname%> </h2>



</div>


<% include partials/footer %>
