<% include partials/header %>

<div class="container" id="newForm">
<div class="container" id="newForm2">
<h1>Submit a new user</h1>

 <form action="/index" method="POST">
		<div class="form-group">
			<label class="control-label">Name:</label>
				<div>
					<input type="text" name="name" class="form-control" id="newNameForm" required>
				</div>
		</div>
		<div class="form-group">
			<label class="control-label">Image URL:</label>
			<div>
				<input type="text" name="image" class="form-control" id="newImageForm" required>
			</div>
		</div>
	<div class="form-group">
		<button class="fluid ui inverted green button">Submit</button>
	</div>
 </form>
<a href="/index" class="fluid ui inverted red button"> Go Back</a>
</div>

</div>

<% include partials/footer %>