<% include partials/header %>

<div class="container" id="newForm">

<h1>Submit a new comment</h1>

 <form action="/index/<%= userID._id %>/comments" method="POST">
		<div class="form-group">
			<label class="control-label">Add a comment</label>
				<div>
					<input type="text" name="comment[text]" class="form-control" id="newComment" placeholder="your comment..." required>
				</div>
		</div>
				<div class="form-group">
					<button class="fluid ui inverted green button">Submit</button>
				</div>
</form>
		<a href="/index/<%= userID._id %>" class="fluid ui inverted red button">Go Back</a>
</div>



<% include partials/footer %>