<% include partials/header %>
<div class="container" id="profileShow">
<div class="row">
	<div class="col-md-3">
		
	</div>
	<div class="col-md-9">
		<div class="thumbnail">
			<img src="<%= userID.image %>">
			<div class="caption"><h4>Profile of: <%= userID.name %></h4></div>
		</div>
		<div class="well">
			<a href="#" class="btn btn-md btn-success btn-block">Add a comment</a>
			
		</div>
	</div>
</div>
</div>	




<% include partials/footer %>