<!DOCTYPE html>
<html>
<head>
	<title></title>

<style type="text/css">




.ui.card {
	width: 100% !important;
	height: auto !important;
}


</style>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class='container'>
	<div class="ui card" >
	  <div class="content">
	    <div class="right floated meta">14h</div>
	    <img class="ui avatar image" src="https://pbs.twimg.com/profile_images/420241225283674113/xoCDeFzV_400x400.jpeg"> Elliot
	  </div>
	  <div class="image">
	    <img src="http://hdwallpaperbackgrounds.net/wp-content/uploads/2015/07/HD-Wallpapers-1920x1080-7.jpg">
	  </div>
	  <div class="content">
	    <span class="right floated">
	      <i class="heart outline like icon"></i>
	      17 likes
	    </span>
	    <i class="comment icon"></i>
	    3 comments
	  </div>
	  <div class="extra content">
	    <div class="ui large transparent left icon input">
	      <i class="heart outline icon"></i>
	      <input type="text" placeholder="Add Comment...">
	    </div>
	  </div>
	</div>

	<div class="ui card">
	  <div class="image">
	    <img src="http://cdn.wallpapersafari.com/43/14/a78UgV.jpg">
	  </div>
	  <div class="content text-center">
	    <span class="right floated">
	      Sep 9
	    </span>
	    <span class="left floated"><i class="comment icon"></i>
	    3 comments</span>
	    <img class="ui avatar image" src="https://pbs.twimg.com/profile_images/420241225283674113/xoCDeFzV_400x400.jpeg"> Spongebob
	  </div>
	</div>

	<div class="ui card">
	  <div class="image">
	    <img src="http://cdn.wallpapersafari.com/43/14/a78UgV.jpg">
	  </div>
	  <div class="content text-center">
	    <span class="right floated">
	      Sep 9
	    </span>
	    <span class="left floated"><i class="comment icon"></i>
	    3 comments</span>
	    <img class="ui avatar image" src="https://pbs.twimg.com/profile_images/420241225283674113/xoCDeFzV_400x400.jpeg"> Spongebob
	  </div>
	</div>





</div>


<script src="semantic/dist/semantic.min.js"></script>
</body>
</html>


