<% include partials/header %>



<div class="container" id="index">
  <div class="jumbotron text-center" style="background-color: transparent  !important">
    <h1>Pictures submitted by the users</h1>
    <form action="/new" method="GET">
    <button class="ui inverted red button massive" id="new-pic-button">
		  <i class="fa fa-camera-retro" aria-hidden="true"></i>
		  Add picture
	</button>
	</form>
  </div>

  	<div class="row text-center" id="indexForm">
<% allUsers.forEach(function(newUsers){ %>
			<div class="col-md-3">
				<div class="thumbnail">
					<img src="<%= newUsers.image %>">
					<div class="caption">
						<h2><%= newUsers.name %></h2>
					</div>
					<div class="ui labeled button" tabindex="0">
					  <a class="ui red button" href="/index/<%= newUsers._id %>" id="see-comments-button">
					    <i class="fa fa-comments" aria-hidden="true"></i> See comments
					  </a>
					  <a class="ui inverted left pointing black label">
					    <%= newUsers.comments.length %>
					  </a>
					</div>
				</div>
			</div>
	<% }); %>
	</div>
</div>








<% include partials/footer %>








