<% include partials/header %>



<div class="container" id="index">
  <div class="jumbotron">
    <h1>User Profiles</h1>
    <form action="/new" method="GET">
    <button class="ui inverted blue button massive">
		  <i class="add user icon"></i>
		  Add user
	</button>
	</form>
  </div>

  	<div class="row text-center" id="indexForm">
	<% allUsers.forEach(function(newUsers){ %>
			<div class="col-md-3">
				<div class="thumbnail">
					<img src="<%= newUsers.image %>">
					<div class="caption">
						<h2><%= newUsers.name %></h2>
					</div>
					<div class="ui labeled button" tabindex="0">
					  <a class="ui blue basic button" href="/index/<%= newUsers._id %>">
					    <i class="write icon"></i> See comments
					  </a>
					  <a class="ui basic left pointing blue label">
					    <%= newUsers.comments.length %>
					  </a>
					</div>
				</div>
			</div>
	<% }); %>
	</div>
</div>







<% include partials/footer %>








