<% include partials/header %>



<div class="container" id="index">
  <div class="jumbotron text-center" style="background-color: transparent  !important">
    <h1>Pictures submitted by the users</h1>
    <form action="/new" method="GET">
    <button class="ui inverted red button massive" id="new-pic-button">
		  <i class="fa fa-camera-retro" aria-hidden="true"></i>
		  Add picture
	</button>
	</form>
  </div>

  	<div class="row text-center" id="indexForm">
<% allUsers.forEach(function(newUsers){ %>
			<div class="col-md-3">
				<div class="thumbnail">
					<img src="<%= newUsers.image %>">
					<div class="caption">
						<h2><%= newUsers.name %></h2>
					</div>
					<form action="/index/<%= newUsers._id %>" method="GET">
					  	<button class="btn btn-primary">
  						<i class="fa fa-comments" aria-hidden="true"></i> Comments <span class="badge"><%= newUsers.comments.length %></span>
						</button>
					</form>
				</div>
			</div>
	<% }); %>
	</div>
</div>








<% include partials/footer %>








