<% include partials/header %>



<div class="container" id="index">
  <div class="jumbotron">
    <h1>User Profiles</h1>

   	<a href="/new" class="ui inverted red button huge" id="addUserButton">Add new User</a>
  </div>

  	<div class="row text-center" id="indexForm">
	<% allUsers.forEach(function(newUsers){ %>
			<div class="col-md-3">
				<div class="thumbnail">
					<img src="<%= newUsers.image %>">
					<div class="caption">
						<h2><%= newUsers.name %></h2>
					</div>
					<a href="/index/<%= newUsers._id %>" class="ui inverted blue button large">More Info</a>
				</div>
			</div>
	<% }); %>
	</div>
</div>


<% include partials/footer %>




