
#profileShow {

	margin: 0 auto;
}

#buttonBack {
	margin-top: 10px;

}

#index {
	margin-top: 40px;
}

#newForm {
	width: 40%;
	margin: 100px auto;
}

#commentForm {
	margin: 100px auto;
}

#indexForm {
	display: flex;
	flex-wrap: wrap;
}

#commentField {
	text-align: center;
}

#tableComments {
	width: 100%;
}

#editForm {
	margin: 100px auto;

}

#newForm {
	margin: 100px auto;
}

#commentField {
	margin-top: 20px;
}


#textLeft {
	text-align: left;
}


#profileForm {
	display:inline-block;
	
}



#theInput {
		bottom: 0;
	width: 80%;
	height: 5%;

}





#chatWrap {
	width: 100%;
	height: 500px;
	border: 1px black solid;
}

#chat {
	overflow: auto;
}



.profileImage {
	margin:0 auto;
}


.special-img {
	position: relative;
	top: -5px;
	float: left;
	left: -5px;
	height: 30px;
}

.chat-img {
	position: relative;
	top: -5px;
	left: -5px;
	height: 30px;
}


