#buttonSubmit {
	float: right;
	margin-left: 10px;
	margin-top: 10px;

}

#profileShow {

	margin: 0 auto;
}

#buttonBack {
	margin-top: 10px;

}

#index {
	margin-top: 40px;
}

#newForm {
	background-color: #75ccef;
	margin: 100px auto;
}

#newForm2 {
	width: 60%;
	margin: 100px auto;

}

#commentForm {
	margin: 100px auto;
}

#indexForm {
	display: flex;
	flex-wrap: wrap;
}

#commentField {
	text-align: center;
}

#tableComments {
	width: 100%;
}

#editForm {
	margin: 100px auto;
	background-color: #6dde6f;
}