
#profileShow {

	margin: 0 auto;
}

#buttonBack {
	margin-top: 10px;

}

#index {
	margin-top: 40px;
}

#newForm {
	width: 40%;
	margin: 100px auto;
}

#commentForm {
	margin: 100px auto;
}

#indexForm {
	display: flex;
	flex-wrap: wrap;
}

#commentField {
	text-align: center;
}

#tableComments {
	width: 100%;
}

#editForm {
	margin: 100px auto;

}

#newForm {
	margin: 100px auto;
}

#commentField {
	margin-top: 20px;
}


#textLeft {
	text-align: left;
}


#profileForm {
	display:inline-block;
	
}








#chat {
	height: 500px;
}

#contentWrap {
	display: none;
}

#chatWrap {
	float: left;
	border: 2px green solid;
}

#chat {
	overflow: auto;
}
