body {
/*	background-color: #e5e6e9 !important;

	background-size: cover !important;
		background-position: top center !important;*/

background-color: ghostwhite !important;

}

.hrLine {
	margin: 0px !important;
}

.snapName {
	color: black !important;
}

#testimonialCount {
	float: right;
}

#theHeader {
	font-size: 7em;
	font-family: 'Quicksand'
}

img {
	width: 100%;
	height: auto;
}

.theContent {
	margin: 7em 0em !important;
}

#iconSearch {
	font-size: 20px;
	color: black !important;
}

#authorPhotos {
	display: flex;
	flex-wrap: wrap ;
}


.inputForm {
	border-radius: 20px !important;
}

.navbar-collapse {
  text-align:center;
  margin-top: 1em;
  }

  .navbar-nav {
    display:inline-block;
    float:none;

  }



.authorImageName {
	font-size: 23px;
}

.authorName {
	font-weight: 900;
    font-variant: small-caps;
    font-size: 30px;
}
	

.ui.card {
	width: 100% !important;
	height: auto !important;
}

.snappPhoto {
	margin: 0 auto !important;
}

.snappImage {
	margin: 10em 0;
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.commentNumber {
	margin-top: 7px;
	font-size: 19px;
}

.snapComments {
	color: black;
}

.myCaption {
	margin-bottom: 0px !important;
	margin-left: 8px;
}


#selfieName {
	color: black;
}

#snapDescription {
	color: black
}

.authorprofileInfo {
	color: black !important;

}

.authorPostedSelfies {
	text-align: center;
	font-size: 40px;
}

.selfiePosted {
	margin-top: 51px;
	padding-top: 25px;
	border: 2px solid black;
}

.profileInfo {
	margin-top: 50px;
	border: 2px black solid;
	height: 800px;
	width: 350px;
}


#myNavBar {
	background-color: inherit;
}

#myNavs{
	margin-bottom: 30px;
	margin-left: 15px;
}

ul.nav.nav-tabs li {
	font-size: 20px;
	color:red !important;
}


.media:first-child {
    margin-top: 1rem;
}

.media-body {
	width: 1em;
    font-size: 20px;
    color: white;
    font-family: 'Carrois Gothic SC';
    vertical-align: middle;
}

.media-body a {
	color: black;
}

.media-object {
	width: 40px;
	height: 40px;
}
.media {
	margin-top: 1.3em !important;
}

.popover-title {
	color: black;
}

#navUsername {
	color: black;
}

.navTxt {
	font-size: 30px;
}

#midNav {
	max-width: 50rem;
	width: 100%;
}

.nav.navbar-right {
	margin-top: -0.7em;
}

.navTxtProfile {
	color: blue !important; 
}

.navItem {
	width: 120px;
	text-align: center;
	font-weight: 700;
}

.navItemButton {
	display: inline !important;
}

#loginButton, #joinButton {
	margin-top: 20px;
}


.navItemProfile {
	width: 170px;
	text-align: center;
	color: white !important;
	font-weight: 700;
}

.navItem2 {
	width: 150px;
	text-align: center;
}


#jumbotronHeader {
	background: transparent;
	margin-top: 30px;
}


#commentsDiv {
	margin-bottom: 20px;
}

.navbar-default {
  border-color: transparent;
  background-color: rgba(240, 248, 255, 0.5);
}



.nav.navbar-nav li a {
    color: black;
}

.navbar-default .navbar-brand {
    color: black;
}


#profileShow {

	margin: 0 auto;
	margin-top: 100px;
}

#buttonBack {
	margin-top: 10px;

}

#index {
	background-color: red;
	margin-top: 40px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 30px;
}

#newForm {
	width: 40%;
	margin: 100px auto;
}

#commentForm {
	margin: 100px auto;
}

#indexForm {
	display: flex;
	flex-wrap: wrap;
}

#commentField {
	text-align: center;
}

#tableComments {
	width: 100%;
}

#editForm {
	margin: 100px auto;

}


#commentField {
	margin-top: 20px;
}


#textLeft {
	text-align: left;
}


#profileForm {
	display:inline-block;
	
}


#loginform {
	margin-top: 5px;
}

#loginProfile {
	margin-top: 100px;
}

.searchform {
	display: inline;

}

.ui.left.icon.input{
	margin-top: 1.5em;
}

#searchProfile {
	margin-top: 100px;
}

.ui.comments .comment .author {
	color: blue !important;
}

#theInput {
		bottom: 0;
	width: 80%;
	height: 5%;
}

#theHeader {

	margin-top: 60px;
}

.editdelete-inline {
	display:inline-flex;
}

.deletecomment {
	color: red;
}



#loginregisterbutton {
	margin-top: 7px;
	margin-right: 10px;
}



#chatWrap {
	margin-top: 100px;
	width: 100%;
	height: 500px;
	border: 1px black solid;
	background-color: white;
}

#chat {
	overflow: auto;
}



.special-img {
	position: relative;
	top: -5px;
	float: left;
	left: -5px;
	height: 30px;
}

.chat-img {
	position: relative;
	top: -5px;
	left: -5px;
	height: 30px;
}

#new-pic-button {
	padding: 10px 15px 10px 13px;
  	background-color: transparent;
  	border: none;
    font-size: 3em;
    color: maroon;
}


#new-pic-button:hover {

}

#see-comments-button {
	padding-right: 15px;
	padding-left: 15px;
}

.date {
	color:cornflowerblue !important;
}

.theinput {
	display: none;
}

.submitEditedComment {
	display: none;
}

.deleteBTN {
	color: red !important;
	font-weight: bold;
	font-size: 1.2em;
}

.editBTN {
	color: blue !important;
	font-weight: bold;
	font-size: 1.2em;
}

.replyBTN {
	color: black !important;
}

.smallModal {
	height: 220px;
}

.userCommentId {
	display: none;
}


#profilePic {
	margin-top: 20px;
	width:100%;
}

#comments, #likes {
	float: right;
	color: blue;
}

#likes {
	margin-right: 7px;
}


.authorProfileImage {
border-bottom: 0.7px solid #999999 !important;
padding: 8px !important;

}

.profileImage {
	margin-top: 20px;
	margin-left: 22px;
	width: 300px;
	height: 300px;
}

.authorImage {
	width: 30px;
	height: 30px;
	margin: 10px 0px  0px 0px;
}

.authorProfile {
	padding-bottom: 10px;
	border-bottom: 1px solid #999999;
}

.authorName {
	margin-left: 7px;
	margin-top: 5px;

}

.date {
	float: right;
	margin-top: 15px;
	font-size: 13px;
}

.pictureContent {
	margin-top: 20px !important;
}




#cameraIcon {
	margin-right: 5px;
}


.theDiv {
	margin-left: 20px;
	margin-right: 20px;
}

.theDiv1 {
	background-color: white;
	width: 350px;
	height: 570px;
	margin-bottom: 30px;
	margin-right: 15px;
	margin-left: 15px;

}



.theDiv2 {
	height: 390px;
}

.theDiv3 {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.theDivFooter {
	border-top: 1px solid #999999;


}

.commentFooter {
	float: right;
	margin-top: 20px;

}

.fa.fa-arrow-up {
	margin-top: 20px;
	margin-left: 10px;
}

.fa.fa-arrow-down {
	margin-left: 10px;
}

.thePictures {
	width: 100%;
	height: 100%;
}

.picDescription {
	margin-top: 10px;
}

.upicon, .downicon {
	font-size: 19px;
}


.authorUsername {
	font-size: 20px;
}

#profileName {
	font-size: 30px;
}

#sidebarText {
	font-size: 30px;
	font-weight: 700;
}

.fa.fa-smile-o {
	margin-left: 10px;
}


.theIndex1 {
	height: 353px;
	width: 100%;
	background-color: #b2ff4f;
}
.theIndex2 {
	height: 353px;
	width: 100%;
	background-color: #ff724f;
}
.theIndex3 {
	height: 354px;
	width: 100%;
	background-color: #4fd5ff;
}





/*Semantic CSS modify*/

.ui.tiny.buttons .button,
.ui.tiny.buttons .or,
.ui.tiny.button {
  font-size: 0.6rem !important;

}



/* login profile CSS */

#twitterIcon {
	color: #1da1f2;
}

#facebookIcon {
	color: blue;
}

#instagramIcon {
	color: #ff3539;
}

#emailIcon {
	color: black;
}


/* Wrapper */

	#wrapper {
		max-width: 68em;
		width: 100%;
		margin: 0 auto;
		padding: 0 2em;
		opacity: 1;
		filter: none;
		-moz-transition: opacity 1s ease, -moz-filter 1s ease;
		-webkit-transition: opacity 1s ease, -webkit-filter 1s ease;
		-ms-transition: opacity 1s ease, -ms-filter 1s ease;
		transition: opacity 1s ease, filter 1s ease;
	}

	body.is-loading #wrapper {
		opacity: 0;
		-moz-filter: blur(1px);
		-webkit-filter: blur(1px);
		-ms-filter: blur(1px);
		filter: blur(1px);
	}

	body.is-covered #wrapper {
		-moz-filter: blur(3px);
		-webkit-filter: blur(3px);
		-ms-filter: blur(3px);
		filter: blur(3px);
	}



/* Header */

	#header {
		text-align: center;
		padding: 6em 0 1em 0;
		margin-top: 70px;
	}

		#header h1 {
			color: rgba(255, 255, 255, 0.65);
		}

		#header .avatar {
			border-radius: 100%;
			display: inline-block;
			padding: 0.5em;
			border: solid 1px rgba(255, 255, 255, 0.25);
			background-color: rgba(255, 255, 255, 0.075);
		}

			#header .avatar img {
				border-radius: 100%;
				display: block;
				width: 15em;
			}

		@media screen and (max-width: 1280px) {

			#header {
				padding: 4em 0 2em 0;
			}

		}



/* Footer */

	#footer {

		padding: 0em 0 4em 0;
	}

		#footer:before {
			content: '';
			/*border-top: solid 1px rgba(255, 255, 255, 0.25);*/
			width: 10em;
			display: block;
			margin: 0 auto 3em auto;
		}

		@media screen and (max-width: 1280px) {

			#footer {
				padding: 2em 0 2em 0;
			}

		}


/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

		.icon.style2 {
			-moz-transition: all 0.2s ease;
			-webkit-transition: all 0.2s ease;
			-ms-transition: all 0.2s ease;
			transition: all 0.2s ease;
			border-radius: 100%;
			display: inline-block;
			padding: 0.5em;
			border: solid 1px rgba(255, 255, 255, 0.25);
			background-color: rgba(255, 255, 255, 0.075);
		}

			.icon.style2:before {
				display: block;
				width: 1.25em;
				height: 1.25em;
				line-height: 1.25em;
				font-size: 1.35em;
			}

			.icon.style2:hover {
				background-color: rgba(255, 255, 255, 0.25);
			}

			@media screen and (max-width: 736px) {

				.icon.style2:before {
					font-size: 1em;
				}

			}


/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px rgba(255, 255, 255, 0.25);
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.5em 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1em 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.5em 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1em);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1em;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.5em;
					width: calc(100% + 0.5em);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.5em;
					}



.cameraIcon {
	color: black !important;
}

.ui.comments {
	max-width:100% !important;
}

.metadata {
	float:right !important;
}

.ui.fluid.transparent.icon.input {
	font-size: 5em;
}